<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006778520372-7lvd77lji7lpma4rmgndtshjcr3v3mbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006778520372-7lvd77lji7lpma4rmgndtshjcr3v3mbc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1006778520372-nmalurpdjuc7alvjomcd2cnv9eer9rdb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABDBrxVez-qd6_2ynixdu5bsYbZB2j55M</string>
	<key>GCM_SENDER_ID</key>
	<string>1006778520372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.pwlimaverde.sistemConfigureVt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sistem-configure-vt</string>
	<key>STORAGE_BUCKET</key>
	<string>sistem-configure-vt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006778520372:ios:c83b0e55beaed7379b4b61</string>
</dict>
</plist>